name: Build and Upload Release

on:
  workflow_call:
    inputs:
      repo_tag:
        description: 'The tag of the repository to use'
        required: true
        type: string
      xuat_version:
        description: 'The version of XUAT to use for building the release'
        required: true
        type: string

permissions:
  contents: write
  pull-requests: read

jobs:
  build-release:
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.repo_tag }}

      - name: Cache and download XUAT dependencies
        id: cache-xuat
        uses: actions/cache@v4
        with:
          path: |
            XUnity.AutoTranslator-Developer-${{ inputs.xuat_version }}.zip
            XUnity.AutoTranslator-Developer-IL2CPP-${{ inputs.xuat_version }}.zip
          key: xuat-cache-${{ inputs.xuat_version }}
      
      - name: Download XUAT dependencies if not cached
        if: steps.cache-xuat.outputs.cache-hit != 'true'
        run: |
          Invoke-WebRequest https://github.com/bbepis/XUnity.AutoTranslator/releases/download/v${{ inputs.xuat_version }}/XUnity.AutoTranslator-Developer-${{ inputs.xuat_version }}.zip -OutFile XUnity.AutoTranslator-Developer-${{ inputs.xuat_version }}.zip
          Invoke-WebRequest https://github.com/bbepis/XUnity.AutoTranslator/releases/download/v${{ inputs.xuat_version }}/XUnity.AutoTranslator-Developer-IL2CPP-${{ inputs.xuat_version }}.zip -OutFile XUnity.AutoTranslator-Developer-IL2CPP-${{ inputs.xuat_version }}.zip

      - name: Set up libs and libs-il2cpp
        run: |
            Expand-Archive -Path XUnity.AutoTranslator-Developer-${{ inputs.xuat_version }}.zip -DestinationPath .
            Rename-Item -Path "Developer" -NewName "libs"
            Expand-Archive -Path XUnity.AutoTranslator-Developer-IL2CPP-${{ inputs.xuat_version }}.zip -DestinationPath .
            Rename-Item -Path "Developer" -NewName "libs-il2cpp"

      - name: Build and zip the DLLs
        run: |
          dotnet build -c Release -v n
          Compress-Archive -Path build/Release/net35/StasServer.dll -DestinationPath StasServerEndpoint-${{ inputs.repo_tag }}.zip
          Compress-Archive -Path build/Release/net6.0/StasServer.dll -DestinationPath StasServerEndpoint-IL2CPP-${{ inputs.repo_tag }}.zip
      
      - name: Upload the zipped DLLs as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: |
            StasServerEndpoint-${{ inputs.repo_tag }}.zip
            StasServerEndpoint-IL2CPP-${{ inputs.repo_tag }}.zip
          retention-days: 1

  upload-release:
    runs-on: ubuntu-latest
    needs: build-release
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          
      - name: Update release and upload assets
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const tag = '${{ inputs.repo_tag }}';
            const owner = context.repo.owner;
            const repo = context.repo.repo;

            const release = await github.rest.repos.getReleaseByTag({
              owner,
              repo,
              tag,
            });

            const current_body = release.data.body || '';
            const new_line = `Build with XUAT version: ${{ inputs.xuat_version }}`;
            let new_body;

            if (current_body.includes("Build with XUAT version:")) {
              new_body = current_body.replace(/Build with XUAT version: .*/, new_line);
            } else {
              new_body = `${current_body}\n${new_line}`;
            }

            await github.rest.repos.updateRelease({
              owner,
              repo,
              release_id: release.data.id,
              body: new_body,
            });

            const fs = require('fs');
            const path = require('path');
            const files = [
              'StasServerEndpoint-${{ inputs.repo_tag }}.zip',
              'StasServerEndpoint-IL2CPP-${{ inputs.repo_tag }}.zip'
            ];

            for (const file of files) {
              const filePath = path.join(process.cwd(), file);
              await github.rest.repos.uploadReleaseAsset({
                owner,
                repo,
                release_id: release.data.id,
                name: file,
                data: fs.readFileSync(filePath),
              });
            }
